$secondary_color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";


body {
    background: #fafafa;
    color: #125688;
    font-family: Montserrat
  }
  
  #main-container {
    margin: 0px auto 30px;
  }

  .m-top{
    margin-top: 30px;
  }
  
  .iphone {
    max-width: 100%;
  }
  
  .site-footer {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .login-box,
  .signup-box {
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
  }
  
 .platzigram {
    font-family: 'Oleo Script';
    font-size: 42px;
    color: $secondary_color !important;
  }

  .header{
    background-color: white;
    border-bottom: 1px solid $secondary_color;
    
    i{
      color: $secondary_color !important;

    }
  }

  .timeline{
    padding: 30px 0;
  }

$avatar-size : 48px;

.card .username{
  color: $secondary_color;
}

  .avatar{
    width: $avatar-size;
    height: $avatar-size;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
  }

  .card small.time{
    line-height: $avatar-size;
  }

  .card p{
    padding: 20px 0;
  }

  .card .likes{
    line-height: 30px;
  }

  .card i{
    font-size: 30px;
    margin-right: 12px;
    color: $secondary_color;
  }
  
  
  .signup-form {
    width: 65%;
    margin: 0 auto;
  }
  
  .signup-form h2 {
    color: #a5a7aa;
    font-size: 1.2em;
  }
  
  .signup-form .btn.btn-fb {
    background-color: #4090db;
    font-size: .8em;
  }
  
  .signup-form .btn.btn-fb:hover {
    background-color: #2d6599;
  }
  
  .signup-form .btn.btn-signup {
    background-color: #125688;
  }